# Basic environment variables for the application
TZ=Asia/Yekaterinburg

# This file is used to set environment variables for the application. 
# Uncomment and Insert your token if you want crowdsec dashboard https://app.crowdsec.net
# ENROLL_KEY=clusdfsdf382dfkj234
# ENROLL_INSTANCE_NAME=crowdsec-blocklist-local

# Collections to be used by the application.
COLLECTIONS="a1ad/mikrotik crowdsecurity/traefik crowdsecurity/nginx fulljackz/proxmox crowdsecurity/linux"

# Docker image versions (optional, defaults are set in compose.yaml)
# CROWDSEC_IMAGE_TAG=crowdsecurity/crowdsec:v1.7.7
# CROWDSEC_BLOCKLIST_IMAGE_TAG=crowdsecurity/blocklist-mirror:v0.0.6

# Fetch API key and restart compose.yaml
# API_KEY=${API_KEY:-'UseCrowdSecAPIKey'}